<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bouqers: Flower Bookings</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b8b8b90389.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    #cart-flowers {
      display: inline-block;
      margin: 0% 2%;
      text-align: center;
    }

    #myItems {
      text-align: center;
    }

    input {
      border: 2px solid black;
      padding: 10px;
      margin: 10px;
    }

    textarea {
      border: 2px solid black;
      padding: 10px;
      margin: 10px;
    }

    #clear-button {
      background-color: #f77;
      color: white;
      border: 1px solid #f77;
      padding: 10px;
    }

    .btn {
      background-color: #5f5;
      color: black;
      padding: 5px 20px;
      border: 1 solid #5f5;
      border-radius: 5px;
      font-size: 12px;
      font-weight: 800;
      font-family: monospace;
    }
  </style>

</head>

<body onload="init()">
  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="index.html">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Bouqers: Flower Bookings</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-6 hover:text-gray-900" href="/admin">
          <i class="fas fa-chalkboard-teacher"></i>
        </a>

      </nav>
    </div>
  </header>
  <section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div
        class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl font-medium text-gray-900">Buying a flower made easy
        <h3 class="title-font mb-4 font-medium">"A one stop solution"</h3>
        </h1>
        <p class="mb-8 leading-relaxed">You can order flowers online for Anniversary, Birthdays, Valentine's Day, Rose
          Day, Mother's Day, Father's Day, Wedding, and many other occasions. We delivers the best birthday bouquet of
          flowers in India. We offer an array of alluring and unique flower bouquets online.</p>
        <!-- <div class="flex justify-center">
                  <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
                  <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button>
               </div> -->
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="images/roses.jpg">
      </div>
    </div>
    <hr style="height:2px;color:gray;background-color: gray;" />
  </section>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-5 mx-auto">
      <h1>Items Available</h1>
      <div class="flex flex-wrap -m-4">

        <!-- Beginning -->
        <section class="text-gray-600 body-font">


          <div class="container px-5 py-5 mx-auto">
            <div class="flex flex-wrap -m-4">


              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden" href="allproducts.html">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="images/b2.jpg"
                    width="420px" height="260px">
                </a>
                <div class="mt-4">

                  <h1 class="text-gray-900 title-font text-lg font-medium">Roses</h1>
                  <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY1</h3>
          <p id="Roses">Click the button to add to cart</p> -->

                  <button class="btn" onclick="myFunction('P7')">Add</button>
                </div>
              </div>


              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden" href="allproducts.html">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="images/b3.jpg"
                    width="421px" height="261px">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Jasmine</h2>
                  <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY2</h3>
          <p id="Jasmine">Click the button to add to cart</p>
 -->
                  <button class="btn" onclick="myFunction('P8')">Add</button>
                </div>
              </div>


              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden" href="allproducts.html">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="images/b4.jpg"
                    width="422px" height="262px">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Neptune</h2>
                  <!--   <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY3</h3>
          <p id="Neptune">Click the button to add to cart</p>
 -->
                  <button class="btn" onclick="myFunction('P1')">Add</button>
                </div>
              </div>


              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden" href="allproducts.html">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="images/b5.jpg"
                    width="423px" height="263px">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Blow</h2>
                  <!--     <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY4</h3>
          <p id="Blow">Click the button to add to cart</p> -->

                  <button class="btn" onclick="myFunction('P2')">Add</button>
                </div>
              </div>



              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden" href="allproducts.html">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="images/b6.jpg"
                    width="424px" height="264px">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Sunflower</h2>
                  <!--   <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY5</h3>
          <p id="Sunflower">Click the button to add to cart</p> -->

                  <button class="btn" onclick="myFunction('P3')">Add</button>
                </div>
              </div>


              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden" href="allproducts.html">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="images/b7.jpg"
                    width="425px" height="265px">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Lily</h2>
                  <!--  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY6</h3>
          <p id="Lily">Click the button to add to cart</p>
 -->
                  <button class="btn" onclick="myFunction('P4')">Add</button>
                </div>
              </div>


              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden" href="allproducts.html">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="images/b8.jpg"
                    width="427px" height="267px">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Mixed</h2>
                  <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY7</h3>
          <p id="Mixed">Click the button to add to cart</p> -->

                  <button class="btn" onclick="myFunction('P5')">Add</button>
                </div>
              </div>



              <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden" href="allproducts.html">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="images/b10.jpg"
                    width="428px" height="268px">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Basket</h2>
                  <!--   <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY8</h3>
          <p id="Basket">Click the button to add to cart</p> -->

                  <button class="btn" onclick="myFunction('P6')">Add</button>
                </div>
              </div>
            </div>
            <hr style="height:2px;color:gray;background-color: gray;" />
            <section class="text-gray-600 body-font">
              <div class="container px-5 py-5 mx-auto">
                <div class="flex flex-col text-center w-full mb-5">
                  <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"> SHOPPING CART</h1>
                  <p class="lg:w-2/3 mx-auto leading-relaxed text-base">add or remove items from here</p>
                </div>
                <div style="text-align: center;">
                  <div id="myItems"></div><br />
                  <input type="email" id="UserEmail" placeholder="Enter Email" /><br />
                  <textarea id="UserAddress" placeholder="Enter address" rows="5" cols="20"></textarea>
                </div>
                <span style="color:red;display: none;" id="error1">please fill all the details</span>
                <span style="color:green;display: none;" id="error2">order accepted</span>
                <span style="color:red;display: none;" id="error3">not able to place order</span>
                <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
                  <button id="clear-button" onclick="clearAll()">Clear Cart</button>
                  <button
                    class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"
                    onclick="addOrder()">Send Order</button>
                </div>
              </div>
            </section>
          </div>
      </div>

  </section>


  <footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
        href="index.html">
        <span class="ml-3 text-xl">Tailblocks</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022
        Harsh Kumar
        <!-- a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@knyttneve</a> -->
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
            </path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>

  <script>
    document.cookie = "flowers:[]"
    var flowerArray = [];
    var myItems = null;
    var flowers = null;
    function myFunction(x) {
      flowerArray[flowerArray.length] = x
      fillItems();
    }
    function removeItem(x) {
      var tempArray = [];
      for (i = 0; i < flowerArray.length; i++) {
        if (flowerArray[i] != x) {
          tempArray[tempArray.length] = flowerArray[i];
        }
      }
      flowerArray = tempArray;
      fillItems();
    }
    function clearAll() {
      flowerArray = [];
      fillItems();
    }
    async function init() {
      // await fetch('/flower').then(res=>res.json()).then(d=>{
      //   flowers=d;
      // });
      await fetch('/flower').then(res => res.json()).then(d => {
        flowers = d;
      });
    }
    async function fillItems() {
      var show = "";
      for (i = 0; i < flowerArray.length; i++) {
        for (j = 0; j < flowers.flower.length; j++) {
          if (flowerArray[i] == flowers.flower[j].ID) {
            show += '<div id="cart-flowers"><img src="' + flowers.flower[j].IMG + '" width="100" height="65"/>  ' + flowers.flower[j].Name + ' - Rs ' + flowers.flower[j].Cost + ' <div><button id="clear-button" onclick="removeItem(\'' + flowers.flower[j].ID + '\')">remove</button></div></div>'
          }
        }
      }
      document.getElementById('myItems').innerHTML = show;
    }
    function Empty() {
      var email = document.getElementById('UserEmail').value;
      var address = document.getElementById('UserAddress').value;
      if (email != null && email != undefined && email != '') {
        if (address != null && address != undefined && address != '') {
          if (flowerArray.length >= 1) {
            return true;
          }
        }
      }
      return false;
    }
    async function addOrder() {
      if (Empty()) {
        console.log('done');
        document.getElementById('error1').style.display = "none";
        var url = '/addItems?userEmail=';
        var email = document.getElementById('UserEmail').value;
        var address = document.getElementById('UserAddress').value;
        await fetch(url + email + '&userOrder=' + flowerArray + '&userAddress=' + address).then(res => res.json()).then(d => {
          console.log(d);
          if (d.statusCode===200) {
            document.getElementById('error2').style.display = "block";
            document.getElementById('error3').style.display = "none";
          } else {
            document.getElementById('error2').style.display = "none";
            document.getElementById('error3').style.display = "block";
          }
          document.getElementById('UserEmail').value = "";
          document.getElementById('UserAddress').value = "";
          flowerArray = [];
          fillItems();
        });
      } else {
        console.log('error');
        document.getElementById('error1').style.display = "block";
      }
    }
  </script>
</body>

</html>